.dashboardContainer {
    padding: 20px;
}

.productCard {
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
}

.productAdd {
    background-color: rgba(11, 255, 0, 0.3);
    text-align: center;
    cursor: pointer;
}

.productCard:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
